@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

header{
    background-image: linear-gradient(to bottom, orange, white);
    height: 30%;
}

nav{
    margin-top: 0;
    margin-left: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.textPart{
    margin-top: 5%;
    margin-left: 5%;
}

.exploreText{
    margin: 0;
    font-size: 30px;
}

.headerText{
    
    margin: 0;
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
}

form{
    margin-top: 2%;
    margin-left: 5%;
    
}

button{
    border: 0;
    background-color: orange;
    color: white;
}

.bottomPartOfHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5%;
}

.cooking{
    display: flex;
    justify-content: flex-end;
    width: 20%;
    height: 20%;
    margin-top: 5%;
    margin-right: 5%;
}
main{
    height: 60%;
}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
    
}

.leftTop{
    margin-left: 5%;
    grid-area: 1 / 1 / 2 / 2;
}

.rightTop{
    margin-right: 5%;
    grid-area: 1 / 2 / 2 / 3;
}

.leftBottom{
    margin-left: 5%;
    grid-area: 2 / 1 / 3 / 2;
}

.rightBottom{
    margin-right: 5%;
    grid-area: 2 / 2 / 3 / 3;
}

.leftTopImg{
    border-style: solid;
    border-radius: 5px;
    border-color: gainsboro ;
    height: 50%;
    width: 50%;
}

.rightTopImg{
    border-style: solid;
    border-radius: 5px;
    border-color: gainsboro ;
    height: 50%;
    width: 50%;
}

.rightBottomImg{
    border-style: solid;
    border-radius: 5px;
    border-color: gainsboro ;
    height: 50%;
    width: 50%;
}

.leftBottomImg{
    border-style: solid;
    border-radius: 5px;
    border-color: gainsboro ;
    height: 50%;
    width: 50%;
}

.trendingRecipes{
    background-color: #fa8072;
}



.trendingRecipesText{
    margin-bottom: 0;
    font-size: 30px;
    
}

.trendingRecipesText:before{
    content:"\279a";
    
}

.pictureConteiner{
    display: flex;
    flex-direction: column;
    
    
}

.firstPicture{
    padding: 3%;
    width: 27%;
    height: 50%;

}

.secondPicture{
    padding: 3%;
    width: 27%;
    height: 50%;
    
}

.thirdPicture{
    padding: 3%;
    width: 27%;
    height: 50%;
    
}
